<nav>
  <%= link_to "About", '#', class: "", id: "" %>
  <%= link_to "Programs", '#', class: "", id: "" %>
  <%= link_to "Apply", '#', class: "", id: "" %>
  <%= link_to "AWAF", '#', class: "", id: "" %>
  <%= link_to "Blog", '#', class: "", id: "" %>
  <%= link_to "Meet Up", '#', class: "", id: "" %>
  <%= link_to "Contact", '#', class: "", id: "" %>
</nav>
